:root {
  /* Spacing */
  --s-0: 0;
  --s-2xs: 0.25rem;
  --s-xs: 0.5rem;
  --s-sm: 0.75rem;
  --s-md: 1rem;
  --s-lg: 1.5rem;
  --s-xl: 2rem;
  --s-2xl: 2.5rem;
  --s-3xl: 3.5rem;

  --s-badge: var(--s-2xs) var(--s-xs);

  /* Colors */
  --color-primary: #ffe682;
  --color-primary-soft: #fff7d6;
  --color-secondary: #e5e5e5;

  --color-text: #000;
  --color-text-soft: #1b2130;
  --color-text-accent: #495470;
  --color-text-light: #fff;

  --color-btn-active: #000;

  --color-form-field: #f2f2f2;
  --color-form-input: #8791ab;

  /* Font sizes */
  --fs-2xs: 0.68rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem; /* Loading state title */
  --fs-3xl: 2.8rem; /* Desktop title */

  /* Line height */
  --lh-base: 100%;
  --lh-xs: 1rem;
  --lh-sm: 1.25rem;
  --lh-lg: 1.75rem;
  --lh-2xl: 3.25rem;

  /* Letter spacing */
  --ls-sm: 0.00625rem;
  --ls-md: 0.016rem;
  --ls-xl: 0.025rem;
  --ls-2xl: 0.031rem;

  /* Border */
  --b-base: 1px solid var(--color-secondary);

  /* Radius */
  --rad-base: 1.5rem;
  --rad-sm: 0.5rem;

  /* Shadow */
  --sh-base: 0 8px 18px rgba(0, 0, 0, 0.06);

  /* Transition */
  --trans-base: 200ms cubic-bezier(0.2, 0.8, 0.2, 1);

  /* Animations */
  --anim-spin-duration: 2s;
}
