/* Mobile logo */
.logo-mobile {
  background-color: var(--color-primary);
}
.logo__icon {
  background-image: url("../../images/logo-tijdloze.svg");
  width: 3rem;
  height: 3rem;
}

/* Navigation */
.navigation {
  background-color: var(--color-primary-soft);
  /* Stays at the bottom */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Slots */
.navigation__icon-slot {
  /* Same value as the icons */
  width: 3rem;
  height: 3rem;
}

/* Icons */
.navigation__links-icon,
.logo__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navigation__links-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.link-1 {
  background-image: url("../../images/list-icon.svg");
  background-color: var(--color-btn-active);
  width: 1rem;
  height: 1rem;
}
.link-2 {
  background-image: url("../../images/favorites-icon.svg");
}
.link-3 {
  background-image: url("../../images/add-icon.svg");
}
