/* Common */
.logo-mobile,
.navigation__links,
.navigation__slot,
.navigation__part {
  display: flex;
  align-items: center;
}
/* Show mobile logo and navigation icons */
.logo-mobile,
.navigation__icon {
  display: inline-flex; /* Block doesn't work? */
}
/* Hide logo desktop & dark mode button */
.logo-desktop,
.navigation__dark {
  display: none; /* No display: block for this so this line is not needed, but added to be sure */
}
.page--favorites .logo-mobile,
.navigation__links {
  width: 100%;
  justify-content: space-between;
}

/* Header */
.header {
  background-color: var(--color-primary);
  padding: var(--s-md) 0;
}

.logo-mobile,
.logo-desktop {
  width: fit-content; /* Only takes up space that is needed */
}

.logo__icon {
  background-image: url("../../images/logo-tijdloze.svg");
  width: 3rem;
  height: 3rem;
}

/* Navigation */
.navigation {
  background-color: var(--color-primary-soft);
  /* Stays at the bottom */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* Highest priority -> always visible */
}

/* Links */
.navigation__links {
  padding: var(--s-xs) var(--s-3xl) var(--s-lg);
}

/* Item */
.navigation__item {
  text-align: center;
}

/* Slots */
.navigation__slot {
  justify-content: center;
  padding: var(--s-2xs) var(--s-md);
  border-radius: var(--rad-base);
}

.navigation__icon--active {
  background-color: var(--color-btn-active);
}

/* Icons */
.navigation__icon,
.logo__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navigation__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-1 {
  background-image: url("../../images/list-active-icon.svg");
}
.icon-2 {
  background-image: url("../../images/favorites-icon.svg");
}
.icon-3 {
  background-image: url("../../images/add-icon.svg");
}

/* Label */
.navigation__label {
  font-size: var(--fs-sm);
}

/* ---==== PAGE FAVORITES ====--- */
/* Icons */
.page--favorites .icon-1 {
  background-image: url("../../images/list-icon.svg");
}
.page--favorites .navigation__item .icon-2 {
  background-image: url("../../images/favorites-active-icon.svg");
}

/* Desktop */
@media (min-width: 1024px) {
  /* Common */
  .logo-desktop,
  .navigation__dark {
    display: block;
  }

  /* Header */
  .header {
    padding: 0; /* Reset the spacing meant for logo-mobile and title */
  }

  /* Hide mobile logo */
  .logo-mobile {
    display: none;
  }

  /* Navigation */
  .navigation {
    /* Change values -> navigation is now left side */
    top: 0;
    right: auto;
  }

  /* Inside navigation */
  .navigation__part {
    height: 100%;
    flex-direction: column;
    padding: var(--s-lg) var(--s-md);
    gap: var(--s-3xl);
  }

  /* Show desktop logo */
  .logo-desktop {
    display: inline-flex;
  }

  /* Links */
  .navigation__links {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--s-lg);
    padding: 0; /* Reset padding from mobile */
  }

  /* Dark mode */
  .navigation__dark {
    margin-top: auto; /* At bottom of screen */
  }
  .icon-4 {
    background-image: url("../../images/dark-mode-icon.svg");
    width: 1.2rem;
    height: 1.2rem;
  }
}
