/* Common */
.hero__content,
.hero__button {
  display: flex;
}

/* Hero */
.hero {
  background-color: var(--color-primary);
}

.hero__content {
  padding: var(--s-3xl) 0 var(--s-xl);
}

/* Title */
.hero__title {
  line-height: var(--lh-2xl);
}

/* Description */
.hero__description {
  line-height: var(--lh-lg);
  letter-spacing: var(--ls-2xl);
  max-width: 31rem;
}

/* Button */
.hero__button {
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-sm);
  background-color: var(--color-primary-soft);
  border-radius: var(--rad-base);
  width: fit-content; /* Reset to default size */
  transition: transform var(--trans-base), box-shadow var(--trans-base);
}
.hero__button:hover {
  transform: translateY(-2px);
  box-shadow: var(--sh-base);
}

.hero__button-icon {
  background-image: url("../../images/add-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

/* ---==== PAGE FAVORITES ====--- */
/* Hero */
.page--favorites .hero {
  display: none;
}

/* Desktop */
@media (min-width: 1024px) {
  /* Hero */
  .page--favorites .hero {
    display: block;
  }

  .page--favorites .hero__content {
    padding: var(--s-md) 0;
  }

  .page--favorites .hero__title {
    line-height: var(--lh-2xl);
    display: block;
  }
}
